@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    background-color: white !important;
}

.slick-dots .slick-active button {
    background-color: white !important;
    border-radius: 4px !important;
}

.slick-dots :not(.slick-active) button {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 4px !important;
}

.lvl1-color {
    background-color: #FF6200;
}

.main__section {
    min-height: auto !important;
}

.section__title {
    color: black !important
}

.carousel__slide {
    height: 13rem;
}