@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lv1__color: #0E2A3D;
    --lv0__color: #0B141A;
}

body {
    background-color: var(--lv0__color) !important;
}

.rotate-270 {
    rotate: 270deg;
}

.home__first--bg {
    background-color: var(--lv1__color) !important;
}

.home__first--bg2 {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: var(--lv1__color);
    border-radius: 0 0 50% 50%;
}

.layout {
    background-color: var(--lv0__color) !important;
}

.slick-dots .slick-active button {
    background-color: white !important;
    border-radius: 4px !important;
}

.slick-dots :not(.slick-active) button {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 4px !important;
}

.main__section {
    min-height: auto !important;
}

.section__title {
    text-rendering: optimizeSpeed;
}

.carousel__slide {
    height: 13rem;
}

.bg-home-image{
    background: url(../../../../assets/bghome.png);
    background-repeat: no-repeat;
    background-size: contain;
}